*  {
    font-size: larger;
    font-family: 'Rubik Mono One', sans-serif;
}
 span{
    padding: 20%;
    text-align: center;
    justify-content: center;
    cursor: default;
 }

.grid-map {
    position: absolute;
    left: 10%;
    top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
}



.sub-grid-map {

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    padding-right:1%;
    padding-bottom:1%;
    border:1px solid rgb(66, 66, 66);
    border-radius: 2%;
    transition: background-color 0.2s;
}

.sub-grid-map:hover {
    background-color:rgb(236, 236, 236);
}

.grid-cell {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s;
}

.grid-cell:hover {
     background-color:silver;
}

.vh-grid {
    background-color:rgb(161, 154, 154);
}
