*  {
    font-size: larger;
    font-family: 'Rubik Mono One', sans-serif;
}
 span{
    padding: 20%;
    text-align: center;
    justify-content: center;
    cursor: default;
    pointer-events:none;
    user-select: none;
 }
.grid-map {
    position: absolute;
    left: 10%;
    top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
}



.sub-grid-map {

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    padding-right:1%;
    padding-bottom:1%;
    border:1px solid rgb(66, 66, 66);
    border-radius: 2%;
    transition: background-color 0.2s;
}

.sub-grid-map-hover {
    background-color:rgb(236, 236, 236);
}

.grid-cell {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s;
}

.grid-cell-hover {
     background-color:rgb(238, 235, 235);
}

.rc-grid-hover {
    background-color:rgb(161, 154, 154);
}
#num-center{
    position: relative;
    border-radius: 50%;
    width:70px;
    height:70px;
    left:-800px;
    top:-800px;
    transition: background-color 0.2;
    pointer-events: none;
    user-select: none;
    

}
.num-holder{
    position:absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width:50px;
    height:50px;
    padding-right:4px;
    padding-top:3px;
    border-radius:50%;
    background-color: rgba(250, 250, 250, 0);
    border: none;
    color: rgba(255, 255, 255, 0);
}

.num-holder:nth-child(1){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
.num-holder:nth-child(2){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}

.num-holder:nth-child(3){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
.num-holder:nth-child(4){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
.num-holder:nth-child(5){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
.num-holder:nth-child(6){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
.num-holder:nth-child(7){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
.num-holder:nth-child(8){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
.num-holder:nth-child(9){
    transition: transform 0.2s, background-color 0.2s, color 0.2s, border 0.2s;
}
